
.filePage {

  header {
    margin-bottom: 20px;
  }

  .path {
    width: 100%;
    a {
      color: inherit;
      padding: 0 5px;
      border-radius: 2px;
      &:hover { background: #333; }
    }
    svg {
      width: 34px;
      height: 34px;
      margin-right: 12px;
    }
  }

  .sorting {
    svg {
      border-radius: 2px;
      margin-left: 8px;
      background: #333;
      padding: 5px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      &.active {
        background: #008ac4;
      }
    }
  }

  .fileListContent {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 12px;
    background: #222;
    &.clicked {
      background: #008ac4;
    }
    cursor: pointer;
    svg { margin: 0 12px; }
    .name { width: 100%; }
    .size {
      margin-right: 12px;
    }
    &.folder {
      height: 60px;
      svg {
        height: 34px;
        width: 34px;
      }
    }
    &.file {
      height: 40px;
    }
  }

}
