
.filePage {
  header {
    margin-bottom: 20px;
  }
  .path {
    width: 100%;
    a {
      color: inherit;
      padding: 0 5px;
      border-radius: 4px;
      &:hover { background: #333; }
    }
    svg {
      width: 34px;
      height: 34px;
      margin-right: 12px;
    }
  }
  .option {
    padding-right: 6px;
    svg {
      border-radius: 8px;
      margin-left: 8px;
      background: #222;
      padding: 6px;
      width: 17px;
      height: 17px;
      cursor: pointer;
      &:hover {
        background: #333;
      }
      &.active {
        background: #008ac4;
      }
    }
  }
  .sorting {
    svg {
      border-radius: 8px;
      margin-left: 8px;
      background: #222;
      padding: 6px;
      width: 17px;
      height: 17px;
      cursor: pointer;
      &:hover {
        background: #333;
      }
      &.active {
        background: #008ac4;
      }
    }
  }
  .fileListContent {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 12px;
    background: #111;
    &:hover {
      background: #222;
    }
    &.clicked {
      background: #008ac4;
    }
    cursor: pointer;
    svg { margin: 0 12px; }
    .name { width: 100%; }
    .size {
      margin-right: 12px;
    }
    &.folder {
      height: 60px;
      svg {
        height: 34px;
        width: 46px;
      }
    }
    &.file {
      height: 50px;
      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
  //
  .fileViewer {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: #000;
    padding: 70px 15px 15px 15px;
    box-sizing: border-box;
    z-index: 10;
    header {
      position: absolute;
      top: 15px;
    }
    .navIcon {
      cursor: pointer;
      background: #333;
      border-radius: 50%;
      padding: 8px;
      min-width: 24px;
      min-height: 24px;
      &:hover {
        background: #444;
      }
    }
    .right, .left {
      position: absolute;
      top: 50vh;
      margin-top: 8px;
      &.unActive {
        opacity: 0.4;
        pointer-events: none;
      }
    }
    .right { right: 15px; }
    .left { left: 15px; }
    .iconFile {
      margin: 0 10px;
      min-width: 24px;
      min-height: 24px;
    }
    //
    //
    .viewerStatic {
      max-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        border-radius: 6px;
        text-align: center;
      }
      .pdf {
        border-radius: 6px;
        text-align: center;
        max-width: 100%;
        @media (min-width: 500px) { max-width: 85%; }
        @media (min-width: 900px) { max-width: 70%; }
      }
      .code {
        border-radius: 6px;
        background: #ccc;
        color: #153c6f;
        min-height: 200px;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        border: 7px solid #59536f;
        @media (min-width: 500px) { width: 85%; }
        @media (min-width: 900px) { width: 70%; }
        .prism-code {
          overflow: auto;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          margin: 0 0;
          padding: 15px;
        }
      }
      .csv {
        
      }
    }
    //
    //
    .viewerInactive {
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .iconFile {
          height: 60px;
          width: 60px;
          margin-bottom: 10px;
        }
      }
    }
    //
    //
    .viewerDynamic {
      .audio {}
      .video {}
    }
  }
}
